*{
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    max-width: 100%;
    background-color: rgb(59, 61, 63);
    
}

.header {
    gap: 10px;
    width: 100%;
    background-color: rgb(32, 36, 43);
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    /* border-radius: 15px 15px 0px 0px; */
    flex-wrap: wrap;
        
}

.logo-cont {
    height: auto;
    margin-left: 10px;
    align-self: flex-start;
    margin-top: 30px;
    display: flex;
}

.logo-img {
    max-width: 90px;
    height: auto;
    object-fit: contain;
    border-radius: 10px;

}

.search-cont {
    flex: 1;
    min-width: 50%;
    width: 100%;
    display: flex;
    background-color:rgb(71, 74, 77);
    align-items: center;
    border-radius: 10px;
    align-self: flex-end;
    margin-right: 45px;
    margin-left: 30px;
    margin-bottom: 10px;
    padding: 6px;
    height: 24px;
    
}

.search-bar {
    flex-shrink: 1;
    min-width: 120px;
    background-color:rgb(71, 74, 77);
    border: none;
    font-size: 20px;
    color: white;
    
}


.search-bar::placeholder {
    color: rgb(143, 143, 143);
    font-size: 20px;
    

}

.search-img {
    margin-bottom: 3px;
    object-fit: cover;
    border: none;
    margin-left: 40px;


}

.search-btn {
    background-color:rgb(71, 74, 77);
    border: none;

}

.search-btn:hover {
    cursor: pointer;
}


.login-cont {
    min-width: 100px;
    display: flex;
    gap: 3px;
    position: absolute;
    right: 0;
    margin-bottom: 54px;
    
    

}

.login-btn {
    max-width: 50px;
    height: auto;
    background-color: rgb(32, 36, 43);
    border: none;
    font-size: 22px;
    color: rgb(77, 180, 196);
    display: flex;
       
}

.login-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}


.profile-btn {
   background-color: rgb(32, 36, 43); 
   width:35px;
   height: 35px;
   border: none;
   display: flex;
  
   
}

.profile-btn:hover {
    cursor: pointer;
}

.profile-img {
    height: auto;
    width: 135%;
    margin-bottom: 5px;

}


.nav-cont ul {
    background-color: rgb(32, 36, 43);
    width: 100%;
    flex: 1;
    height: auto;
    display: flex;
    align-items: center;
    justify-self: center;
    margin-top: 3px;
    list-style: none;
    justify-content: center;
    gap: 3.8px;
    font-size:12px;
    height: 30px;
    
}

.nav-cont li {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
}

.nav-cont a {
    display: block;
    color: rgb(200, 196, 196);
    font-weight: bold;
    text-decoration: none;
}

.nav-cont a:hover {
    text-decoration: underline;
    cursor: pointer;
}


.main-page {
    background-image: url(imgs/background.png);
    width: 100%;
    min-height: auto;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
    justify-self: center;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
    
}

.explore-btn {
    background-color: rgb(15, 204, 230);
    width: 25%;
    height: 15px;
    color: rgb(237, 237, 237);
    font-size: 9px;
    border-radius: 12px;
    border: none;
    position: absolute;
    left: 38%;
    top: 55%;
    
}

.explore-btn:hover {
    cursor: pointer;
}

.category-cont {
    background-image: url(/imgs/footer.png);
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    height: auto;
    justify-self: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 837/228;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: row;
    
}


.img-cont {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    height: auto;
    width: 100%;
    object-fit: cover;
    flex-direction: column;
    align-items: center;
    flex: 1 1 1 140px;  
       
}

.img-cont img {
    border-radius: 10px;
    height: auto;
    width: 100%;
    max-width: 300px;
    flex: 1 1 1 120px;
    object-fit: cover;
    align-self: center;    

}



.view-btn {
    display: block;
    justify-self: center;
    font-size: 10px;
    color: white;
    background-color: transparent;
    border: none;
    position: absolute;
    margin-top: 75px;
    


}

.view-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}

.featured-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    height: auto;
    min-height: 0;

    
}

.featured-btn {
    background-color: transparent;
    font-size: 12px;
    color: white;
    border: none;
    margin-top: 10px;
    margin-right: 200px;
    
    
    
}

.featured {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    width: 100%; 
    margin-top: 5px;
    margin-bottom: 10px;
    
        
}

.featured-card {
    background-color:rgb(71, 74, 77);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 calc(25%-5px);
    
}

.featured-card img {
    width: 100%;
    height: 8vh;
    object-fit: cover;
    border-radius: 5px;

}

.featured-card button {
    margin-top: 13px;
    
}



.quantum-btn {
    background-color: rgb(74, 80, 82);
    border-radius: 15px;
    border: none;
    width: 100%;
    height: 15%;
    color: rgb(234, 225, 225);
    font-size: 8px;
    
}

.initiate-btn {
    background-color: rgb(24, 203, 222);
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 15%;
    font-size: 8px;
    color: rgb(226, 217, 217);

}

.footer-stat {
    background-image: url(imgs/footer.png);
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: auto;
    min-height: 0;
    gap: 10px;
    justify-content: center;
    aspect-ratio: 837/228;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.footer-stat h1 {
    font-size: 16px;
    margin-bottom: 5px;
    color: rgb(224, 224, 224);
}


.footer-stat ul a {
    color: rgb(228, 219, 219);
    text-decoration: none;
    font-size: 8px;

}

.footer-r ul a:hover {
    text-decoration: underline;
    cursor: pointer;
}


.footer-r {
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}



.footer-bottom {
    background-color: rgb(33, 37, 40);
    color: white;
    font-size: 20px;
    display: flex;
    width: 100%;
    min-width: 300px;
       
}

.footer-left{
    min-width: 0;
    flex: 1;
    margin-top: 10px;

}

.footer-left h1{
    font-size: 13px;
}

.footer-left img {
    max-width: 90px;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}

.footer-left p{
    font-size: 8px;
    gap: 1px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    
       
}

.social-icon {
    margin-bottom: 40px;
    margin-top: 10px;
    margin-left: 50px;
    display: flex;

}

.social-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
    border: none;
    
}

.social-btn:hover {
    cursor: pointer;
}

.social-btn img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.suscribe-cont {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    font-size: 6.8px;
    margin-right: 50px;
    margin-bottom: 10px;
    
}

.footer-input {
     background-color:rgb(71, 74, 77);
    height: auto;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}


.suscribe-btn {
    background-color: rgb(24, 203, 222);
    height: auto;
    width: 100%;
    border-radius: 5px;
    border: none;
    
}

.suscribe-btn:hover {
    cursor: pointer;
}

.footer-end {
    background-color: rgb(33, 37, 40);
    height: auto;
    width: 100%;
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
    /* border-radius: 0 0 10px 10px; */
    justify-self: center;
    align-items: center;
    
}


.privacy-check {
    display: flex;
    flex: 1 1 140px;
    justify-content: center;
    align-items: center;
    

}

.privacy-check button {
    
}


.checkmark-img {
  height: auto;
  object-fit: contain;  
 
}

.privacy-check button {
    background-color: transparent;
    border-radius: 10px;
    border: none;
    color: rgb(241, 236, 236);
    font-size: 10px;
    
    
}

.privacy-check button:hover {
    text-decoration: underline;
    cursor: pointer;
}
.site-map {
    color: rgb(210, 206, 206);
    background-color: transparent;
    border: none;
    font-size: 16px;
    

}

.site-map:hover {
    text-decoration: underline;
    cursor: pointer;
}


.footer-pagenation {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    flex: 1 1 140px;
    align-items: center;
    
    
}

.footer-pagenation li a {
    display: block;
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
    margin: 0 5px;
    text-indent: -9999px;

}

.footer-pagenation li a.active {
    background-color: white;
}

#language-switcher {
    background-color:rgb(114, 122, 129);
    color: black;
    padding-left: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 10px;
    height: auto;
    border: none;
    display: flex;
    flex: 1 1 140px;
    justify-content: center;
    align-items: center;
}


